<h1 class="mb-4">Termékek</h1>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
                <p><strong>@product.Price Ft</strong></p>
                <p>Keszlet: @product.Stock db</p>
                <p>Kategoria: @product.Category?.Name</p>

                <form asp-controller="Cart" asp-action="AddToCart" method="post">
                    <input type="hidden" name="productId" value="@product.Id" />
                    <button type="submit" class="btn btn-success w-100">Kosarba</button>
                </form>
            </div>
        </div>
    }
</div>